.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}
.todo-list {
  background-color: rgb(76, 51, 152);
  width: 400px;
  border-radius: 14px;
  height: 600px;
  color: rgb(255, 211, 0);
  overflow: auto; /* Or overflow: scroll; */
}

.list-item:hover {
  background-color: rgb(255, 211, 0);
  color: rgb(76, 51, 152);
  cursor: pointer;
}

.title {
  background-color: rgb(255, 211, 0);
  color: rgb(76, 51, 152);
  margin: 20px !important;
  border-radius: 14px;
}

.submit-btn {
  border-color: rgb(76, 51, 152) !important;
  color: rgb(255, 211, 0) !important;
  margin: 5px !important;
}
